.geo {
    background-color: green;
}

.cucina {
    background-color: magenta;
}

.arte {
    background-color: blueviolet;
}

.tech {
    background-color: blue;
}

.viaggi {
    background-color: orange;
}